imports:
    - "tests/Behat/Resources/config/suites.yaml"

default:
    extensions:
        FriendsOfBehat\ContextServiceExtension:
            imports:
                - "tests/Behat/Resources/config/services.xml"

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "features"

        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: TransitTracker\Infrastructure\Kernel
                bootstrap: vendor/autoload.php

        FriendsOfBehat\CrossContainerExtension: ~

cached:
    extensions:
        FriendsOfBehat\ContextServiceExtension:
            imports:
                - "tests/Behat/Resources/config/services.xml"

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "features"
